.container {
	width: 800px;
	margin: 100px auto 10px auto
}

.editor {
	border:solid 1px #ccc;
	padding: 20px;
	min-height:200px;
}

.editor:focus-visible {
    outline: none
}

.sample-toolbar {
	border: solid 1px #ddd;
	background: #f4f4f4;
	padding: 5px;
	border-radius: 3px;
}

.sample-toolbar > span {
	cursor:pointer;
}

.sample-toolbar > span:hover {
	text-decoration:underline;
}

ul {
	list-style: none
}

.file_list_el {
	border: 1px solid black;
    padding: 4px;
    inline-size: fit-content;
    margin: 2px;
    cursor: pointer;
    display: inline-flex;
}
.buttons {
	display: inline;
    float: right;
}
.btn {
    background: darkgrey;
}
